/* descedat selector */
.container p {
  color: brown;
}

/* child selector */
.container > p {
  background-color: black;
}

.container + p {
  font-size: 50px;
}

.container ~ span {
  color: green;
}

input[type="text"] {
  background-color: white;
  /* background-image: url("../img/search-icon-png-21.png");
  background-size: cover;
  background-position: 10px 10px;
  background-repeat: no-repeat; */
  padding-left: 40px;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 300px;
}

input {
  flex: 1;
}
